[submodule "Joy"]
	path = Joy
	url = git@github.com:AletheiaWareLLC/Joy.git
[submodule "Perspective"]
	path = Perspective
	url = git@github.com:AletheiaWareLLC/Perspective.git
[submodule "JoyJava"]
	path = JoyJava
	url = git@github.com:AletheiaWareLLC/JoyJava.git
[submodule "PerspectiveJava"]
	path = PerspectiveJava
	url = git@github.com:AletheiaWareLLC/PerspectiveJava.git
[submodule "AletheiaWareCommonAndroid"]
	path = AletheiaWareCommonAndroid
	url = git@github.com:AletheiaWareLLC/AletheiaWareCommonAndroid.git
[submodule "JoyAndroid"]
	path = JoyAndroid
	url = git@github.com:AletheiaWareLLC/JoyAndroid.git
[submodule "PerspectiveAndroid"]
	path = PerspectiveAndroid
	url = git@github.com:AletheiaWareLLC/PerspectiveAndroid.git
[submodule "JavaCommon"]
	path = JavaCommon
	url = git@github.com:AletheiaWareLLC/JavaCommon.git
[submodule "AletheiaWareCommonJava"]
	path = AletheiaWareCommonJava
	url = git@github.com:AletheiaWareLLC/AletheiaWareCommonJava.git
[submodule "PerspectivePotVAndroid"]
	path = PerspectivePotVAndroid
	url = git@github.com:AletheiaWareLLC/PerspectivePotVAndroid.git
