[submodule "Joy"]
	path = Joy
	url = git@github.com:AletheiaWareLLC/Joy.git
[submodule "Perspective"]
	path = Perspective
	url = git@github.com:AletheiaWareLLC/Perspective.git
[submodule "JoyJava"]
	path = JoyJava
	url = git@github.com:AletheiaWareLLC/JoyJava.git
[submodule "PerspectiveJava"]
	path = PerspectiveJava
	url = git@github.com:AletheiaWareLLC/PerspectiveJava.git
[submodule "PerspectiveAndroid"]
	path = PerspectiveAndroid
	url = git@github.com:AletheiaWareLLC/PerspectiveAndroid.git
[submodule "AletheiaWareCommonJava"]
	path = AletheiaWareCommonJava
	url = git@github.com:AletheiaWareLLC/AletheiaWareCommonJava
[submodule "JavaCommon"]
	path = JavaCommon
	url = git@github.com:winksaville/JavaCommon.git
