[submodule "Joy"]
	path = Joy
	url = git@github.com:AletheiaWareLLC/Joy.git
[submodule "Perspective"]
	path = Perspective
	url = git@github.com:AletheiaWareLLC/Perspective.git
[submodule "JavaCommon"]
	path = JavaCommon
	url = git@github.com:winksaville/JavaCommon.git
[submodule "AletheiaWareCommonJava"]
	path = AletheiaWareCommonJava
	url = git@github.com:winksaville/AletheiaWareCommonJava.git
[submodule "JoyJava"]
	path = JoyJava
	url = git@github.com:winksaville/JoyJava.git
[submodule "PerspectiveJava"]
	path = PerspectiveJava
	url = git@github.com:winksaville/PerspectiveJava.git
[submodule "AletheiaWareCommonAndroid"]
	path = AletheiaWareCommonAndroid
	url = git@github.com:winksaville/AletheiaWareCommonAndroid.git
[submodule "JoyAndroid"]
	path = JoyAndroid
	url = git@github.com:winksaville/JoyAndroid.git
[submodule "PerspectiveAndroid"]
	path = PerspectiveAndroid
	url = git@github.com:winksaville/PerspectiveAndroid.git
